<mat-form-field class="full-width">
  <mat-label>Поставщик</mat-label>
  <mat-select [formControl]="selectClientControl">
    <mat-option disabled>
          <span class="filter">
            <input matInput
                   placeholder="Клиент"
                   value="{{ this.clientFilterControl.value }}"
                   (keydown)="handleInput($event)"
                   [formControl]="clientFilterControl"/>
            <button mat-raised-button
                    color="primary"
                    matSuffix
                    (click)="openAddClientDialog()">
                Создать поставщика
            </button>
          </span>
    </mat-option>
    <mat-option *ngFor="let item of filteredClients | async" [value]="item.id">
      +7{{item.phone}} {{item.name}}
    </mat-option>
    <mat-option disabled *ngIf="filteredClients == undefined">
      <span>Не найдено</span>
    </mat-option>
  </mat-select>
</mat-form-field>
