<h2 mat-dialog-title>Добавить наименование</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="form">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Категория
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>

        <app-select-category
          (dataChanged)="onChangeCategory($event)">
        </app-select-category>

      </ng-template>
    </mat-expansion-panel>

    <mat-form-field class="full-width">
      <mat-label>Бренд</mat-label>
      <input formControlName="model" matInput [matAutocomplete]="autoBrands" >
      <mat-autocomplete autoActiveFirstOption #autoBrands="matAutocomplete">
        <mat-option *ngFor="let option of filteredBrands | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Модель</mat-label>
      <input formControlName="brand" matInput [matAutocomplete]="autoModels" >
      <mat-autocomplete autoActiveFirstOption #autoModels="matAutocomplete">
        <mat-option *ngFor="let option of filteredModels | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Характеристики
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <span>
          <form [formGroup]="specForm">
            <mat-form-field style="width: 30%">
              <mat-label>Название</mat-label>
              <span style="display: flex">
                <input formControlName="item1" matInput >
              </span>
            </mat-form-field>
            <span>: </span>
            <mat-form-field style="width: 30%">
              <mat-label>Значение</mat-label>
              <span style="display: flex">
                <input formControlName="item2" matInput >
              </span>
            </mat-form-field>
            <button mat-button color="primary" style="width: 20%" (click)="onCreateSpec()">Добавить характеристику</button>
          </form>
        </span>
        <mat-divider></mat-divider>
        <mat-list role="list">
          <mat-list-item role="listitem"
                         *ngFor="let tag of spcsArr.controls; let i = index"
                         [formGroupName]="i">
            <mat-divider></mat-divider>
            <span>{{i + 1}}. {{tag.value.item1}} - {{tag.value.item2}}</span>
          </mat-list-item>
        </mat-list>

      </ng-template>
    </mat-expansion-panel>

    <mat-form-field class="full-width">
      <mat-label>Описание</mat-label>
      <textarea  style="height: 3rem"  formControlName="info" matInput ></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="start">
  <button mat-button
          color="warn"
          mat-dialog-close
          style="width: 20%">
    Закрыть
  </button>
  <button mat-button
          color="primary"
          [disabled]="form.invalid"
          (click)="onSubmitClick()"
          style="width: 70%">
    Создать
  </button>
</mat-dialog-actions>
