<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button
            routerLink="/">
      Nano35
    </button>
    <span class="example-spacer"></span>
    <ng-container *ngIf="identity == null">
      <button mat-button
              routerLink="/signin">
        <span>Вход</span>
      </button>
      <button mat-button
              routerLink="/signup">
        <span>Регистрация</span>
      </button>
    </ng-container>

    <ng-container *ngIf="identity != null">
      <button mat-button
              routerLink="/profile">
        {{identity.data.name}}
      </button>
      <button mat-button
              routerLink="/instances">
        Организации
      </button>
      <button mat-button
              color="accent"
              (click)="logout()">
        Выход
      </button>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
