<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      Наличие
    </ng-template>
    <ng-template matTabContent>
      <app-insatnce-warehouse-view></app-insatnce-warehouse-view>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Оприходования
    </ng-template>
    <ng-template matTabContent>
      <app-insatnce-comings-view></app-insatnce-comings-view>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Списания
    </ng-template>
    <ng-template matTabContent>
      <app-insatnce-comings-view></app-insatnce-comings-view>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Продажи
    </ng-template>
    <ng-template matTabContent>
      <app-sells-view></app-sells-view>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Номенклатура
    </ng-template>
    <ng-template matTabContent>
      <app-insatnce-storage-view></app-insatnce-storage-view>
    </ng-template>
  </mat-tab>
</mat-tab-group>
