<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-selection-list [multiple]="false">
      <mat-list-option routerLink="/instance">
        Организация
      </mat-list-option>
      <mat-list-option routerLink="/instance/units">
        Подразделения
      </mat-list-option>
      <mat-list-option routerLink="/instance/workers">
        Сотрудники
      </mat-list-option>
      <mat-list-option routerLink="/instance/clients">
        Клиентская база
      </mat-list-option>
      <mat-list-option routerLink="/instance/storage">
        Склад
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
