<div class="content-width" *ngIf="!isLoading">
  <h1>Добавить товар</h1>
  <form [formGroup]="form">
    <mat-form-field class="full-width" >
      <mat-label>Наименование</mat-label>
      <mat-select
        formControlName="articleId">
        <mat-option disabled>
          <button mat-button class="full-width" color="primary" (click)="openAddArticleDialog()">Создать</button>
        </mat-option>
        <mat-divider></mat-divider>
        <mat-option *ngFor="let item of articles" [value]="item.id">
          {{item.category}} {{item.categoryGroup}} {{item.brand}} {{item.model}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width" >
      <mat-label>Состояние</mat-label>
      <mat-select
        formControlName="conditionId">
        <mat-option *ngFor="let item of conditions" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Доп информация</mat-label>
      <input formControlName="hiddenComment" matInput >
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Цена в закупе</mat-label>
      <input formControlName="retailPrice" matInput >
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Цена продажи</mat-label>
      <input formControlName="purchasePrice" matInput >
    </mat-form-field>

    <button mat-raised-button
            (click)="onSubmin()"
            class="full-width"
            color="primary">
      Создать
    </button>
  </form>
</div>
<div class="content-width" *ngIf="isLoading">
  <h1>Загрузка</h1>
</div>
